@using PlusAndComment.Common
@model PlusAndComment.Models.MainPostVM
@{
    ViewBag.Title = Model.Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 30px;">
            @if (!string.IsNullOrWhiteSpace(Model.Url) && (Model.Url.Contains("youtube") || Model.Url.Contains("facebook.com") || Model.Url.Contains("dailymotion.com") || Model.Url.Contains("vimeo.com")))
            {
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" id="movieThumb" src="@Model.EmbedUrl" frameborder="0" allowfullscreen style="width: 600px; height: 500px; max-width: 100%;"></iframe>
                </div>
            }
            else if (Model.postType == Enums.PostType.gif)
            {
                <div>
                    @if (Request.Browser.IsMobileDevice)
                {
                        <img src="@Model.EmbedUrl" data-wait="true" style="width: 100%" />
                    }
                    else
                    {
                        <img src="..\@Model.ReferenceUrl" class="gifplayer gifplayer_@(ViewBag.amountPart)" data-wait="true" />
                    }
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Url) && (Model.Url.ToLower().EndsWith(".jpg") || 
                                                            (Model.Url.ToLower().EndsWith(".jpeg") || 
                                                            Model.Url.ToLower().EndsWith(".png") || 
                                                            Model.Url.EndsWith(".bmp"))))
            {
                <img src="@Model.Url" class="img-responsive" style="margin-left: auto; margin-right: auto;" />
            }
            else if(!string.IsNullOrWhiteSpace(Model.FilePath) && (Model.FilePath.ToLower().EndsWith(".jpg")  || 
                                                                    (Model.FilePath.ToLower().EndsWith(".jpeg") ||
                                                                    Model.FilePath.ToLower().EndsWith(".png") || 
                                                                    Model.FilePath.ToLower().EndsWith(".bmp"))))
            {
                <img src="..\@Model.FilePath" data-wait="true" class="img-responsive" style="margin-left: auto; margin-right: auto;" />
            }

            <div class="text-center" style="text-align: center; color:#B0B0B0; font-size: 11px">
                @if (!string.IsNullOrWhiteSpace(Model.Header))
            {
                    @Html.Label("źródło: ");
                    @Html.DisplayFor(m => m.Header);
            }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/site")
}
    