<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - trudneŻarty.pl</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <meta property="og:url" content="http://www.trudneżarty.pl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trudny humor" />
    <meta property="og:description" content="Strona z czarnym humorem" />
    <meta property="og:image" content="@Url.Content("~/Storage/logo.png")"/>
    <meta property="og:image" content="../../Storage/logo.png" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href='@Url.Action("index", "Home")'>
                    <img src='@Url.Content("~/Storage/logo.png")' style="max-height: 50px;"/>
                </a>
                @*@Html.ActionLink("Trudne żarty", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div id="infoCopied">
            Skopiowano
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>stopka</p>*@
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
