@model PlusAndComment.Models.AddPostVMs.AddPostVM

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj wiadomość</title>
</head>
        @Html.AntiForgeryToken()

        <div class="container">
            <h4>Dodaj Post</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div style="text-align: center;">
                <div id="AddNewPost" class="center" style="padding: 20px 20px 20px 20px;">

                    <!-- Zakładki -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#1zakladka" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;Link</a></li>
                        <li><a href="#2zakladka" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i>&nbsp;Zdjęcie</a></li>
                        <li><a href="#3zakladka" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-font" aria-hidden="true"></span>&nbsp;Tekst </a></li>
                        <li><a href="#4zakladka" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;Suchar</a></li>
                        <li><a href="#5zakladka" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp;Artykuł</a></li>
                    </ul>

                    <!-- Zawartość zakładek -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="1zakladka">
                                @Html.Partial(Url.Content("~/Views/Home/AddPost/Partials/_AddLinkPartial.cshtml"), new PlusAndComment.Models.AddPostVMs.AddLinkVM())
                            </div>
                            <div class="tab-pane" id="2zakladka">
                                @Html.Partial(Url.Content("~/Views/Home/AddPost/Partials/_AddPictureFromDiskPartial.cshtml"), new PlusAndComment.Models.AddPostVMs.AddPictureFromDiskVM())
                            </div>
                            <div class="tab-pane" id="3zakladka">
                                @Html.Partial(Url.Content("~/Views/Home/AddPost/Partials/_AddHumourPartial.cshtml"), new PlusAndComment.Models.AddPostVMs.AddHumourVM())
                            </div>
                            <div class="tab-pane" id="4zakladka">
                                @Html.Partial(Url.Content("~/Views/Home/AddPost/Partials/_AddSucharPartial.cshtml"), new PlusAndComment.Models.AddPostVMs.AddSucharVM())
                            </div>
                            <div class="tab-pane" id="5zakladka">
                                @Html.Partial(Url.Content("~/Views/Home/AddPost/Partials/_AddArticlePartial.cshtml"), new PlusAndComment.Models.AddPostVMs.AddArticleVM())
                                <div style="padding: 10px 10px 10px 10px">
                                    @*@Html.HiddenFor(m => m.Article.RelThumbPath, new { @id = "RelThumbPath" })*@        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
            @Html.ActionLink("Wróć do strony głównej", "Index")
        </div>

@Scripts.Render("~/bundles/jqueryval")

<script>

    $('.contentLink').on('paste', function (event) {
        var self = $(this);

        setTimeout(function () { target(self) }, 100);

    });

    function target(elem) {
        contentLinkChanged(elem.val())
    }

    $('#contentLinkArticle').on('paste', function (event) {
        var self = $(this);

        setTimeout(function () { targetArticleUrl(self) }, 100);

    });

    function targetArticleUrl(elem) {
        contentLinkArticleChanged(elem.val())
    }

    function hideBottomBtnsAddPost()
    {
        $("#confirmButtonsAddPost").hide();
    }

    function showBottomBtnsAddPost() {
        $("#confirmButtonsAddPost").show();
    }

        function contentLinkChanged(value) {
            $.ajax({
                url: 'FindWebSite',
                dataType: 'json',
                data: { selectedValue: value },
                beforeSend: function () {
                    $("#loadingPageThumb").show();
                    $("#AddNewPostContent").show();
                    $(".imageThumb_AddLinkPreview").hide();
                    $("#addPostButton").attr("disabled", true);
                },
                complete: function (post){$("#loadingPageThumb").hide();},
                success: function (post) {
                    $("#addPostButton").attr("disabled", false);
                    if (post.Type == "mov") {
                        $("#postType").val("mov");
                        $("#embedUrl").val(post.EmbedUrl);
                        $("#movieThumb").attr("src", post.EmbedUrl);
                        $("#referenceUrl").val(post.ReferenceUrl);
                        $("#lblUrl").html(post.Url);
                        $(".imageThumb_AddLinkPreview").hide();
                        $("#movieThumb").show();

                        //gif
                    }else if (post.Type == "gif") {
                        $("#postType").val("gif");
                        //var newpath = "../../../../" + post.EmbedUrl;
                        var hhhg = "~/Storage/" + post.EmbedUrl;
                        $("#embedUrl").val('@Url.Content("~/Storage/")' + post.EmbedUrl);
                        $("#referenceUrl").val(post.FirstFramePathRelative);
                        $("#lblUrl").html(post.Url);
                        $(".imageThumb_AddLinkPreview").attr("src", "@Url.Content("~/Storage/")" + post.FileName);
                        $(".imageThumb_AddLinkPreview").show();
                        $("#movieThumb").hide();
                    }else if (post.Type == "img") {
                        $("#postType").val("img");
                        $("#lblUrl").html(post.Url);
                        $("#filePath").val(post.FilePath);
                        $(".imageThumb_AddLinkPreview").attr("src", post.Url);
                        $("#referenceUrl").val(post.ReferenceUrl);
                        $(".imageThumb_AddLinkPreview").show();
                        $("#movieThumb").hide();
                    }

                    var header = "<h style='font-weight: bold'>" + post.Header + "</h>";
                    if (!(header.indexOf("null") !== -1))
                    {
                        $("#imageTitle").html(header).text();
                    }

                    $("#imageSourceHeader").val(post.Header).text();
                    $('#addPostButton').attr("disabled", false);
                },
                failure: function (error) {
                }
            });
        }

        $(document).ready(function () {
        $("#imageUploadForm").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadForm").files.length;
            for (var i = 0; i < totalFiles; i++)
            {
                var file = document.getElementById("imageUploadForm").files[i];
                formData.append("imageUploadForm", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("Upload", "Home")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (post) {
                    var type = post.Type;
                    var gifUrl = post.postUrl;
                    var imgUrl = post.ImageUrl;
                    var referenceUrl = post.ReferenceUrl;
                    $("#postType").val(type);

                    if (type == "gif") {
                        $("#imageThumb_AddLinkPreview").attr("src", gifUrl);
                    }
                    else { $("#imageThumb_AddLinkPreview").attr("src", referenceUrl); }

                    $('#filePath').val(gifUrl);
                    $("#embedUrl").val(gifUrl);
                    $("#referenceUrl").val(referenceUrl);
                    $("#AddNewPostContent").show();
                    $('#addPostButton').attr("disabled", false);
                },
                error: function (error) {
                    alert("errror");
                }
            });
        });
        });

        $(document).ready(function () {
            $("#userImageUploadForm").change(function () {
                var formData = new FormData();
                var totalFiles = document.getElementById("userImageUploadForm").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("userImageUploadForm").files[i];
                    formData.append("userImageUploadForm", file);
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Upload", "Home")",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    beforeSend: function ()
                    {
                        $("#UserPhotoPreview").hide();
                        $("#loadingAddPostPhoto").show();
                        $('#addPostButton').attr("disabled", true);
                    },
                    success: function (post) {
                        //is GIF
                        if (post.Type == 'gif') {
                            $(".imageThumb_UserPhotoPreview").attr("src", post.PathRelative);
                            $(".gifReferenceUrl").val(post.PathRelative);
                            $("#firstFramePathRelative").val(post.FirstFramePathRelative);
                        }
                        else {
                            $(".imageThumb_UserPhotoPreview").attr("src", post.PathRelative);
                            $(".photoReferenceUrl").val(post.PathRelative);
                        }

                        $(".postTypeImageUpload").val(post.Type);
                        $("#UserPhotoPreview").show();
                        $("#loadingAddPostPhoto").hide();
                        $('#addPostButton').attr("disabled", false);
                    },
                    error: function (error) {
                        alert("errror");
                    }
                });
            });
        });

    $(document).ready(function () {
        $("#imageUploadFormArticle").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadFormArticle").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUploadFormArticle").files[i];
                formData.append("imageUploadFormArticle", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("Upload","Home")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function ()
                {
                    $('#loadingAddPostArticlePhoto').show();
                },
                success: function (post) {
                    $("#ArticleThumType").val(post.Type);

                    if (post.Type == 'gif') {
                        $('#FirstFrameGifRelativePath').val("@Url.Content("~/Storage/")" + post.FileName);
                        $('#RelFilePath').html(post.FileName);
                    }
                    else if (post.Type == 'img') {
                        $('#RelThumbPath').val("@Url.Content("~/Storage/")" + post.FileName);
                        $('#RelFilePath').html(post.FileName);

                    }else if(post.Type == 'mov')
                    {

                    }

                    $("#EmbelVideoUrl").val(post.Type);                    
                },
                complete: function ()
                {
                    $('#loadingAddPostArticlePhoto').hide();
                },
                error: function (error) {
                    alert("errror");
                    $('#loadingAddPostArticlePhoto').hide();
                }
            });
        });
    });

    function contentLinkArticleChanged(value) {
        $.ajax({
            url: 'FindWebSite',
            dataType: 'json',
            data: { selectedValue: value },
            complete: function (post){$("#loadingPageThumb").hide();},
            success: function (post) {
                if (post.Type == "mov") {
                    $("#AddArticleThumbPhoto").hide();

                    $("#EmbelVideoUrl").val(post.EmbedUrl);
                    $("#RelThumbPath").val(post.EmbedUrl);
                    $("#ArticleThumType").val(post.Type);
                    
                    //$("#postType").val("mov");
                    //$("#embedUrl").val(post.EmbedUrl);
                    //$("#movieThumb").attr("src", post.EmbedUrl);
                    //$("#referenceUrl").val(post.ReferenceUrl);
                    //$("#lblUrl").html(post.Url);
                    //$(".imageThumb_AddLinkPreview").hide();
                    //$("#movieThumb").show();
                }
                else
                {
                    $("#AddArticleThumbPhoto").show();
                }
            },
            failure: function (error) {
            }
        });
    }
</script>
